@mixin characters($color,$shadow){ 
    border: 1px solid red;
    padding: 1em 1em 5em 3em;
    position: relative;
    z-index: 100;

    .character {
        background-color: $shadow;
        height: 15em;
        width: 11em;
        border-top-left-radius: 7em;
        border-top-right-radius: 7em;
        border-color: black;
        border-width: 1em;
        border-style: solid;
        position: relative;
        z-index: 100;
        overflow: hidden;

        .shadow{
            position: absolute;
            width: 100%;
            height: 100%;
            top: -1em;
            left: .20em;
            transform: rotate(-5deg);
            background-color: $color;
            border-radius: 5em;
        }
    }

    .belly{
        width: 9em;
        height: 1em;
        position: absolute;
        background-color: $shadow;
        z-index: 100;
        bottom: 5em;
        right: 2em;
    }
    .belly::after{
        content: "";
        position: absolute;
        right: 1.5em;
        width: 4.5em;
        height: 1em;
        border-top-right-radius: 1em;
        border-bottom-right-radius: 50%;
        background-color: black;
    }

    .eyes{
        background-color: #5e828b;
        height: 6em;
        width: 8em;
        border-top-left-radius: 40%;
        border-top-right-radius: 40%;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
        border-color: black;
        border-width: 1em;
        border-style: solid;
        position: absolute;
        top: 4.5em;
        right: .2em;
        z-index: 100;
        transform: rotate(-5deg);
        overflow: hidden;

        .shadow{
            position: absolute;
            width: 100%;
            height: 100%;
            top: -2.7em;
            left: -.2em;
            background-color: #8bcbdb;
            border-radius: 30% 25% 50% 50%;
                transform: rotate(-5deg) translate(1em, 1.6em);
        }
    }
    .eyes::after{
        content: "";
        background-color: #fefefe;
        position: absolute;
        width: 50%;
        height: 30%;
        border-radius: 1em;
        transform: translate(80%,0%);
    }

    .legs{
        position: absolute;
        bottom: 1em;
        background-color: $shadow;
        border-bottom-left-radius: 30%;
        border-bottom-right-radius: 30%;
        height: 5em;
        width: 5em;
        border-color: black;
        border-width: 1em;
        border-style: solid;
        z-index: 10;
    }

    .leg-left {
        left: 3em;
    }

    .leg-right {
        height: 4.5em;
        right: 1em;
        bottom: 1.5em;
    }

    .bag{
        background-color: $color;
        border: black 1em solid;
        position: absolute;
        height: 10em;
        width: 5em;
        left: 1em;
        top: 6em;
        border-radius: 3em;
        overflow: hidden;

        .shadow{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 1em;
            right: .1em;
            background-color: #00000070;
            border-radius: 5em;
        }
    }
}
