:root{
    --bg-color:radial-gradient(#1a1a30,#0d0d19);
}

*,*::after,*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background:#242424;
    background:var(--bg-color);
    height: 100vh;
    min-height: 1000px;
    font-size: 14px;
    overflow: hidden;
}

.header{
    color: #fff;
    font-family: sans-serif;

    position: absolute;
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid blue;
    

    transition: all 1s ;
    .h1{
        display: none;
        visibility: hidden;
        span{
            opacity: 0;
        }
    }

    .score{
        visibility: hidden;
        opacity: 0;
        display: none;
    }

    .play{
        visibility: hidden;
        opacity: 0;
        display: none;
    }
}

.character-container{
    font-size: 6px;
    transition: all 1s ease;
}

.character-container-2{transition-delay: .3s;}
.character-container-3{transition-delay: .6s;}
.character-container-4{transition-delay: .9s;}


@media screen and (min-width:566px){
    .body{font-size: 16px;}
    .character-container{font-size: 10px;}
}
@media screen and (min-width:966px){
    .body{font-size: 18px;}
    .header{
        width: 50%;
        left: 50%;
        transform: translate(-50%);
    }
    .character-container{font-size: 15px;}
}
@media screen and (min-width:1200px){
    .body{font-size: 20px;}
    .character-container{font-size: 20px;}
}
@media screen and (min-width:1440px){
    .body{font-size: 22px;}
    .character-container{font-size: 25px;}
}