.home .header{
    width: 100%;
    height: 100%;
    flex-direction: column;
    gap: 2em;

    .h1{
        font-size: 3em;

        .center, .left, .right{
            display: inline-block;
            visibility: hidden;
            opacity: 0;
            transition: transfrom 1s ease, opacity 1s ease;
            animation: appear-header 1s forwards;
        }
        .center{transform: translate(0,-5em); animation-delay: 1s;}
        .left{transform: translate(-5em,0em); animation-delay: .5s;}
        .right{transform: translate(5em,-0em); animation-delay: .5s;}
    }

    @keyframes appear-header {
        100%{
            transform: none;
            visibility: visible;
            opacity: 1;
        }
    }

    .play{
        border: .1em solid #fff;
        background-color: transparent;
        color: #fff;
        padding: .5em 2em;
        font-size: 2em;
        border-radius: 5px;
        cursor: pointer;
        visibility: hidden;
        opacity: 0;
        transform: translate(0,5em);
        transition: background-color .5s ease, color .5s ease;
        animation: appear-header 1s forwards;
        animation-delay: 2s;

        &:hover{
            background-color: #fff;
            color: #242424;
        }
    }

    .score{
        visibility: hidden;
        display: none;
    }
}